.nav {
  position: relative;
  .btn {
    position: absolute;
    top: 12vh;
    right: 52vh;
    z-index: 2;
  }
}

.tool {
  background: none;
  height: 10vh;
}

.manga-ico {
  font-size: 46px;
  color: #ffff00;
}

.menu-ico {
  font-size: 30px;
  margin-left: 20px;
}

.menu-ico:hover {
  cursor: pointer;
  color: #6ac045;
}

.hed {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.heading {
  margin-inline: 10px;
  font-family: "Rock Salt", cursive;
  font-weight: 900;
  font-style: normal;
}

.currency {
  width: 140px;
  margin-right: 20px;
  border-bottom: gray 1px solid;
  .mat-mdc-select-value {
    margin-right: 5px;
  }
}

.container {
  background: none;
}

.sidenav {
  background: none;
  width: 360px;
}

.content {
  height: 90vh;
}
