
.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.image-card {
  height: 250px;
  width: auto;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dotted gray;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
